/* FONTS */

@font-face {
  font-family: ttnorms_bold;
  src: url(../fonts/TTNormsPro-Bold.ttf);
}

@font-face {
  font-family: ttnorms_regular;
  src: url(../fonts/TTNormsPro-Regular.ttf);
}

/* COMMON */

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 630px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1280px;
  }
}

/* INTRO */

.intro {
  position: relative;
  min-height: 100vh;
}

.intro_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1f242d;
}

.intro_inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.intro_title {
  margin-bottom: 28px;
  max-width: 300px;
  font-family: ttnorms_bold;
  font-size: 24px;
  line-height: 28px;
  color: #f0f0f1;
}

.intro_subtitle {
  margin-bottom: 30px;
  font-family: ttnorms_regular;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.intro_arrow-btn {
  margin-bottom: 40px;
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

/* LOGO */

.logo {
  position: relative;
  z-index: 3;
}

/* BURGER */

.burger {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 14px;
}

.burger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.2s linear;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 6px;
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 6px;
}

.burger.active span:nth-child(2) {
  transform: scale(0);
}

@media (min-width: 1440px) {
  .burger {
    display: none;
  }
}

/* MENU */

.menu_list {
  list-style: none;
  display: flex;
  position: relative;
  z-index: 2;
}

.menu_item {
  margin: 0 0 0 10px;
}

.menu_link {
  color: #fff;
}

@media (max-width: 1439px) {
  .menu {
    width: 100%;
    height: 100%;
    /* padding: 70px 10px 20px 10px; */
    position: fixed;
    top: -100%;
    left: 0;
    transition: top 0.3s linear;
    overflow: auto;
    display: flex;
  }

  .menu.active {
    top: 0;
  }

  .menu_list {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
  }

  .menu_item {
    margin: 0;
    padding-left: 40px;
  }

  .menu_item:last-child {
    padding-bottom: 40px;
  }

  .menu_link {
    font-family: ttnorms_bold;
    font-size: 34px;
    line-height: 48px;
    color: #f0f0f1;
    text-decoration: none;
  }
}

/* CLIENTS */

.clients {
  padding: 60px 0;
  background-color: #d9d0c0;
}

.clients_text {
  margin-bottom: 30px;
  font-family: ttnorms_regular;
  font-size: 17px;
  line-height: 22px;
  color: #1f242d;
  text-align: center;
}

.clients_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.clients_item {
  width: 140px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients_item::before {
  content: '';
  display: block;
  width: 126px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.clients_item.tilray::before {
  background-image: url(../img/clients/mobile/tilray.png);
}

.clients_item.apple::before {
  background-image: url(../img/clients/mobile/apple.png);
}

.clients_item.bauerfeind::before {
  background-image: url(../img/clients/mobile/bauerfeind.png);
}

.clients_item.audi::before {
  background-image: url(../img/clients/mobile/audi.png);
}

.clients_item.subaru::before {
  background-image: url(../img/clients/mobile/subaru.png);
}

.clients_item.bench::before {
  background-image: url(../img/clients/mobile/bench.png);
}

.clients_item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .clients {
    padding: 80px 0;
  }

  .clients_text {
    margin-bottom: 80px;
    font-size: 27px;
    line-height: 34px;
  }

  .clients_list {
    justify-content: center;
  }

  .clients_item {
    width: 190px;
    height: 64px;
  }

  .clients_item::before {
    width: 160px;
    height: 64px;
  }

  .clients_item.tilray::before {
    background-image: url(../img/clients/tablet/tilray.png);
  }

  .clients_item.apple::before {
    background-image: url(../img/clients/tablet/apple.png);
  }

  .clients_item.bauerfeind::before {
    background-image: url(../img/clients/tablet/bauerfeind.png);
  }

  .clients_item.audi::before {
    background-image: url(../img/clients/tablet/audi.png);
  }

  .clients_item.subaru::before {
    background-image: url(../img/clients/tablet/subaru.png);
  }

  .clients_item.bench::before {
    background-image: url(../img/clients/tablet/bench.png);
  }

  .clients_item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .clients {
    padding: 120px 0;
  }

  .clients_text {
    width: 1080px;
    margin: 0 auto 80px;
    font-size: 32px;
    line-height: 40px;
  }

  .clients_list {
    justify-content: space-between;
  }

  .clients_item {
    height: 80px;
    margin-bottom: 0;
  }

  .clients_item::before {
    width: 190px;
    height: 80px;
  }

  .clients_item.tilray::before {
    background-image: url(../img/clients/desktop/tilray.png);
  }

  .clients_item.apple::before {
    background-image: url(../img/clients/desktop/apple.png);
  }

  .clients_item.bauerfeind::before {
    background-image: url(../img/clients/desktop/bauerfeind.png);
  }

  .clients_item.audi::before {
    background-image: url(../img/clients/desktop/audi.png);
  }

  .clients_item.subaru::before {
    background-image: url(../img/clients/desktop/subaru.png);
  }

  .clients_item.bench::before {
    background-image: url(../img/clients/desktop/bench.png);
  }
}

/* CONTACTS */

.contacts {
  padding: 40px 0 50px;
  background-color: #1c242c;
}

.contacts_title,
.contacts_subtitle {
  font-family: ttnorms_bold;
  font-size: 24px;
  line-height: 28px;
  color: #e0dfde;
}

.contacts_subtitle {
  margin-bottom: 40px;
}

.contacts_address,
.contacts_tel,
.contacts_email,
.socials_link {
  font-family: ttnorms_regular;
  font-size: 14px;
  line-height: 18px;
  color: #e0dfde;
}

.contacts_address {
  width: 160px;
  margin-bottom: 40px;
}

.contacts_email {
  margin-bottom: 30px;
}

.contacts .socials {
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  align-items: center;
}

.contacts .socials_item {
  margin-right: 10px;
}

.contacts .socials_item:last-child {
  margin-right: 0;
}

.contacts .socials_link {
  text-decoration: none;
}

/* FORM */

.contacts_form {
  display: flex;
  flex-direction: column;
}

.form_row {
  display: flex;
  flex-direction: column;
}

.contacts_input,
.contacts_textarea {
  padding: 15px 0 15px 10px;
  border: none;
}

.contacts_input,
.contacts_textarea {
  margin-bottom: 10px;
  margin-bottom: 10px;
}

::placeholder {
  font-family: ttnorms_regular;
  font-size: 10px;
  line-height: 14px;
  color: #888b8e;
}

.contacts_form textarea {
  height: 110px;
}

/* ACCEPT */

.text_underline {
  text-decoration: underline;
}

.contacts_accept {
  position: relative;
  width: 130px;
  padding-left: 26px;
  font-family: ttnorms_regular;
  font-size: 7px;
  line-height: 10px;
  color: #e0dfde;
  cursor: pointer;
  user-select: none;
}

/* hide the browser`s default checkbox */
.contacts_accept input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #e0dfde;
  border-top: 1px solid #9fa1a3;
  border-right: 1px solid #9fa1a3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contacts_accept input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.contacts_accept .checkmark::after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #1f242d;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* CONTACTS_TEXT */

.contacts_text {
  padding-top: 20px;
  font-family: ttnorms_bold;
  font-size: 20px;
  color: #e0dfde;
}

@media (min-width: 768px) {
  .contacts {
    padding: 80px 0;
    background-color: #1f242d;
  }

  .contacts_inner {
    display: flex;
    justify-content: space-between;
  }

  .contacts_title,
  .contacts_subtitle {
    font-size: 50px;
    line-height: 54px;
  }

  .contacts_subtitle {
    margin-bottom: 250px;
  }

  .contacts_form {
    width: 300px;
  }

  .contacts_address,
  .contacts_tel,
  .contacts_email,
  .socials_link {
    font-size: 18px;
    line-height: 26px;
  }

  .contacts_address {
    width: 200px;
  }

  .contacts_input,
  .contacts_textarea {
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

  ::placeholder {
    font-size: 18px;
    line-height: 26px;
  }

  .contacts_input,
  .contacts_textarea {
    padding: 20px;
  }

  .contacts_form textarea {
    height: 250px;
  }

  .contacts_accept {
    width: 260px;
    padding-left: 46px;
    font-size: 14px;
    line-height: 20px;
  }

  .checkmark {
    top: 3px;
    left: 0;
    width: 32px;
    height: 32px;
  }

  .contacts_accept .checkmark::after {
    left: 8px;
    top: 2px;
    width: 14px;
    height: 16px;
  }

  .contacts_text {
    font-size: 36px;
    line-height: 38px;
  }
}

@media (min-width: 1440px) {
  .contacts_form {
    width: 630px;
  }

  .contacts_title,
  .contacts_subtitle {
    font-size: 60px;
    line-height: 64px;
  }

  .contacts_subtitle {
    margin-bottom: 170px;
  }

  .form_row {
    flex-direction: row;
    justify-content: space-between;
  }

  .form_row input {
    width: 300px;
    box-sizing: border-box;
  }

  .contacts_text {
    padding-top: 0;
  }

  .contacts_form textarea {
    height: 280px;
  }
}

/* FOOTER */

.footer {
  border-top: 1px solid #f2f1ef;
  padding: 25px 0 30px;
  background-color: #1c242c;
}

.footer_logo {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/footer_logo/footer_logo_small.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.footer_row_inner {
  margin-bottom: 40px;
}

.footer_text {
  font-family: ttnorms_regular;
  font-size: 14px;
  line-height: 18px;
  color: #f2f1ef;
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 0;
  }

  .footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_logo {
    margin-bottom: 0;
    width: 32px;
    height: 32px;
    background-image: url(../img/footer_logo/footer_logo_big.png);
  }

  .footer_row {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_row_inner {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .footer_row_inner .impressum {
    margin-right: 20px;
  }
}

/* VISUALLY-HIDDEN */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
